    .highlight {
        color: red;
        text-transform: uppercase;
    }
    .symbol {
        color: red;
        text-transform: uppercase;
    }

    .periodic-element {
    	position: relative;
    	display: inline-block;
    }